.infoBox {
  flex: 1;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox-cases--green {
  color: lightgreen !important;
}

.infoBox-cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  text-align: center !important;
}

.infoBox-total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
  text-align: center !important;
}

@media screen and (max-width:500px){

  .infoBox-cases {
      font-size: 1.3rem !important;
    }

    .infoBox-title{
      font-size: .7rem !important;
    }
}

@media screen and (max-width:320px){

  .infoBox-cases {
      font-size: 1.3rem !important;
    }

    .infoBox-title{
      font-size: .6rem !important;
    }
}